

#table_pnl,
#tree_pnl {
    background-color: #E8E8E8;
    float: left;
    width: 50%;
    text-align : center;
}

#sharethis {
    position: fixed;
    right: 80px;
    top: 10px
}

#inner_tbl {
    padding-left: 2px
}
table{
    text-align : center;
}

.td_row_even {
    padding: 4px;
    /*#background-color: #F6F4F0*/
    background-color: #FFF;
    text-align : center;
}

.td_row_odd {
    padding: 4px;
    background-color: #FFF;
    text-align : center;
}

.td_head {
    padding: 2px;
    font-weight: 700
}

input,
p,
select,
td,
textarea,
th {
    font-size: 1em
}

table,
td,
th {
    border: 1px solid black
}

.dropdown-divider{
	
	border-top: 2px solid #343a40;
	margin : 8px;
}
}